// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #6CE1F8;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-fullpie {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
    font-size: 10px;
  }

  h1 {
    color: #000;
    font-size: 25px;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .chart_label {
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 19px;
  }
} 
