// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
//$background-color:  #0e83cd;
$background-color: rgba(14, 131, 205, 0.8);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------

.widget-fridaybeer {
  background-color: $background-color;
  @import url(http://fonts.googleapis.com/css?family=Lato:700,900);

#container {
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -20px;
  width: 300px;
}

#container div { position: absolute; }

.pour {
  position: absolute;
  left: 35%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px
}

.mug {
  margin: 40px auto 0;
  position: relative;
  width: 200px;
  height: 300px;
  border-style: none solid solid solid;
  border-width: 0 15px 10px 15px;
  border-color: #e2e2e2;
  border-radius: 0px 0px 60px 60px;
  background: rgba(255, 255, 255, 0.6);
}

.ear {
  position: absolute;
  border: 15px solid #e2e2e2;
  width: 50px;
  height: 100px;
  top: 60px;
  right: -80px;
  border-radius: 40px;
}
.ear::before{
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 45px;
  height: 94px;
  border-radius: 30px;
}

.shine {
  display: block;
  position: absolute;
  background: #fff;
  width: 50px;
  height: 200px;
  top: 60px;
  left: 15px;
  border-radius: 20px;
  opacity: 0.4;
}

.shine::after {
  display: block;
  content: '';
  position: absolute;
  background: #fff;
  width: 50px;
  height: 200px;
  top: 0px;
  left: 120px;
  border-radius: 20px;
}

.shine::before {
  display: block;
  content: '';
  position: absolute;
  background: #fff;
  width: 50px;
  height: 200px;
  top: 0px;
  left: 60px;
  border-radius: 20px;
}


#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 40px 40px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 181px;
  display: none;
}
/* Foam */

.beer-foam {
  position: absolute;
  bottom: 10px;
  opacity: 0;
}

.foam-1, .foam-2, .foam-3, .foam-4, 
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px; 
}
.foam-3 {
  top: -25px;
  left: 50px; 
}
.foam-4 {
  top: -35px;
  left: 80px; 
}
.foam-5 {
  top: -30px;
  left: 110px; 
}
.foam-6 {
  top: -20px;
  left: 140px; 
}
.foam-7 {
  top: -30px;
  left: 160px;
}
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 130px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 260px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}
