<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="escalated" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sizi1" data-view="List" data-unordered="true" data-title="Sizi1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Open Tickets" data-moreinfo="# of times said around the office"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="bw" data-view="Meter" data-title="Bandwidth" data-min="0" data-max="21000" data-moreinfo="Mbit OUT"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="greenhopper_estimation" data-view="Jira"></div>
    </li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="sebastopol" data-view="Worldclock" data-timezone="Europe/Bern" data-title="Biel"></div>
</li>
  </ul>
</div>
